extends layout

block content

  h1 ID: #{articleinstance._id}
  
  p #[strong Title:] 
    a(href=articleinstance.article.url) #{articleinstance.article.title}
  p #[strong Imprint:] #{articleinstance.imprint}

  p #[strong Status:] 
    if articleinstance.status=='Available'
      span.text-success #{articleinstance.status}
    else if articleinstance.status=='Maintenance'
      span.text-danger #{articleinstance.status}
    else
      span.text-warning #{articleinstance.status} 
      
  if articleinstance.status!='Available'
    p #[strong Due back:] #{articleinstance.due_back_formatted}

  hr
  p
    a(href=articleinstance.url+'/delete') Delete articleInstance
  p
    a(href=articleinstance.url+'/update') Update articleInstance