extends layout

block content

  h1 #{title}: #{article.title}
  
  p #[strong Author:] 
    a(href=article.author.url) #{article.author.name}
  p #[strong Summary:] #{article.summary}
  p #[strong Date:] #{article.date}
  p #[strong Genre:] 
    each val in article.genre
      a(href=val.url) #{val.name}
      |, 

  hr
  
  if article_instances.length
  
    p #[strong Delete the following copies before attempting to delete this article.]
  
    div(style='margin-left:20px;margin-top:20px')

      h4 Copies
    
        each article_copy in article_instances
          hr
          if article_copy.status=='Available'
            p.text-success #{article_copy.status}
          else if article_copy.status=='Maintenance'
            p.text-danger #{article_copy.status}
          else
            p.text-warning #{article_copy.status} 
          p #[strong Imprint:] #{article_copy.imprint}
          if article_copy.status!='Available'
            p #[strong Due back:] #{article_copy.due_back}
          p #[strong Id:] 
            a(href=article_copy.url) #{article_copy._id}

  else
    p Do you really want to delete this article?
    
    form(method='POST' action='')
      div.form-group
        input#id.form-control(type='hidden',name='id', required='true', value=article._id )

      button.btn.btn-primary(type='submit') Delete