extends layout

block content

  h1 Genre: #{genre.name}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Articles
    
    dl
    each article in genre_articles
      dt 
        a(href=article.url) #{article.title}
      dd #{article.summary}

    else
      p This genre has no articles.
      
  hr
  p
    a(href=genre.url+'/delete') Delete genre
  p
    a(href=genre.url+'/update') Update genre