extends layout

block content
  h1= title
  p 欢迎来到本地文章后台数据管理系统


  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else

    p 暂时包含以下内容:

    ul
      li #[strong 文章:] !{data.article_count}
      //- li #[strong Copies:] !{data.article_instance_count}
      //- li #[strong Copies available:] !{data.article_instance_available_count}
      li #[strong 作者:] !{data.author_count}
      li #[strong 类型:] !{data.genre_count}